<div ng-controller="TimeZoneController">
    <div class="container">
        <form>
            <div class="form-group">
                <label for="timezone">Time Zone</label>
                <select id="timezone" class="form-control" placeholder="Search" ng-model="selectTimezone" ng-change="prepareCityList()">
                    <option ng-repeat="(nOffset, timeZone) in timezonesUniqueOffset" value="{{nOffset}}">{{timeZone}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="city-name">City name</label>
                <select id="city-name" class="form-control" ng-model="selectCity" ng-disabled="!timezoneCities.length">
                    <option ng-repeat="city in timezoneCities" value="{{city.id}}">{{city.name}}</option>
                </select>
            </div>
            <button type="submit" class="btn btn-success btn-lg" ng-click="saveEdit(editMode)" ng-disabled="validate()"
                    ng-show="editMode">Save
            </button>
            <button type="submit" class="btn btn-success btn-lg" ng-click="addToList()" ng-disabled="validate()"
                    ng-hide="editMode">Add time zone
            </button>
        </form>


        <form>
            <div class="form-group">
                <label for="search">Search</label>
                <input id="search" type="text" class="form-control" placeholder="Search for..." ng-model="searchText"
                       ng-disabled="!timezones.length">
            </div>
        </form>
        <div class="row">
            <div class="col-sm-6 col-md-4" ng-repeat="timezone in timezones | filter:searchText">
                <div class="thumbnail">
                    <div class="caption">
                        <p>Current local time: <span current-time-zone="{{ timezone.name }}"></span></p>
                        <p>Time zone: {{ timezone.getUTC() }}</p>
                        <p>Location name: {{ timezone.name }}</p>
                        <button class="btn btn-default btn-lg" ng-click="editTimezone(timezone)">Edit</button>
                        <button class="btn btn-danger btn-lg" ng-click="deleteTimezone($index)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
